body {
	border:10px solid black;
}
body {
	Background-color: #00FF00;
}

div 
{	
Margin
}

img
{
	Float: right;
}
.header {
		background-color: ;
		text-align: center;
		padding: 20px;
}
.topnav {
	overflow: hidden;
	background-color: #333;
	width: 20px
}
